<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Songs</title>
    <div th:replace="~{common :: head}"></div>
</head>

<body>
<h1>Welcome</h1>
<h2>Songs</h2>
<ul>
        <li th:each="song : ${songs}">
            <span th:text="${song}"></span>
        </li>
</ul>
<h2>Add A Song!</h2>
<form action="/songs" method="POST">
    <label>Name</label><input name="title"/>
    <label>length</label><input name="length"/>
    <label>Track Number</label><input name="trackNumber"/>
    <input type="submit"/>
</form>

</body>

</html>